/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/VoiceActivatedCapsBB.woff2") format("woff2"),
  url("assets/fonts/VoiceActivatedCapsBB.woff") format("woff");
}
  
