<div class="footer">
  <p>© All Rights Reserved by group 10 - workshop 2021</p>
  <ul class="members links">
    <li><a href="#"><img class="member-picture" src="../../../assets/img/1604584319033.jpeg" alt=""></a></li>
    <li><a href="#"><img class="member-picture" src="../../../assets/img/1605777922408.jpeg" alt=""></a></li>
    <li><a href="#"><img class="member-picture" src="../../../assets/img/1605777922409.jpeg" alt=""></a></li>
    <li><a href="#"><img class="member-picture" src="../../../assets/img/1617723145245.jpeg" alt=""></a></li>
    <li><a href="#"><img class="member-picture" src="../../../assets/img/1631566399489.jpeg" alt=""></a></li>
    <li><a href="#"><img class="member-picture" src="../../../assets/img/1628323606761.jpeg" alt=""></a></li>
  </ul>
</div>
