
    <div class="foo_top_header_one section_padding_100_70">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="social link">
                        <h5>Social Links</h5>
                        <ul class="members links">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                        </ul>
                    </div>
                </div>

    </div>
    <!-- Footer Bottom Area Start -->
    <div class=" gp10 text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>© All Rights Reserved by <a href="#">workshop groupe 10<i
                                class="fa fa-love"></i></a></p>
                </div>
            </div>
        </div>
    </div>
