<div class="footer">
  <p>© Tous droits réservés </p>
  <p>Groupe 10 - Workshop 2021 </p>
  <div class="picture-block">
    <p style="margin: 0 15px;">L'équipe :</p>
    <ul class="members links">
      <li><a href="https://www.linkedin.com/in/thibaut-dalens-1428061b9/"><img class="member-picture" src="../../../assets/img/1604584319033.jpeg" alt=""></a></li>
      <li><a href="https://www.linkedin.com/in/jason-m-292142195/"><img class="member-picture" src="../../../assets/img/1605777922408.jpeg" alt=""></a></li>
      <li><a href="https://www.linkedin.com/in/pierre-tisserand/"><img class="member-picture" src="../../../assets/img/1605777922409.jpeg" alt=""></a></li>
      <li><a href="#"><img class="member-picture" src="../../../assets/img/8284294744.png" alt=""></a></li>
      <li><a href="https://www.linkedin.com/in/julian-lacher-fougere/"><img class="member-picture" src="../../../assets/img/1617723145245.jpeg" alt=""></a></li>
      <li><a href="https://www.linkedin.com/in/matthieu-effroy-1005351a2/"><img class="member-picture" src="../../../assets/img/1631566399489.jpeg" alt=""></a></li>
      <li><a href="https://www.linkedin.com/in/tifany-poinot-40a5ba157"><img class="member-picture" src="../../../assets/img/1628323606761.jpeg" alt=""></a></li>
    </ul>
  </div>
</div>
