<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Peekobot
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <!-- Page styles - make your own! -->

  <!-- Peekobot custom properties (CSS variable) - set these! -->

  <!-- Peekobot styles -->


</head>

<body>
<header class="text-center">
</header>

<main id="main">
  <div id="peekobot-container">
    <div id="peekobot-inner">
      <div id="peekobot"></div>
    </div>
  </div>
</main>

<script src="../../../assets/js/conversation.js"></script>
<script type="text/babel" data-presets="es2015,es2016,es2017" src="../../../assets/js/peekobot.js"></script>

</body>

</html>
