<div class="container-bot centered" id="chatbot">
  <div id="chatbot-antenna">
    <div id="chatbot-beam"></div>
    <div id="chatbot-beam-pulsar" class="green"></div>
  </div>
  <div id="chatbot-head">
    <div class="chatbot-eye-green centered"></div>
    <div class="chatbot-eye-green centered"></div>
    <div class="chatbot-eye-green centered"></div>
  </div>
  <div id="chatbot-body">
    <div class="chatbot-arm-hello"></div>
    <div id="chatbot-chest">
      <div class="chatbot-mark-green"></div>
    </div>
    <div class="chatbot-arm-hello"></div>
  </div>
  <div id="chatbot-levitate">
    <div class="chatbot-levi-round"></div>
    <div class="chatbot-levi-round"></div>
    <div class="chatbot-levi-round"></div>
  </div>
</div>
<button class="vert" (click)="greenEye()">Vert</button>
<button class="orange" (click)="orangeEye()">Orange</button>
<button class="rouge" (click)="redEye()">Rouge</button>
<button class="bonjour" (click)="sayHello()">Bonjour</button>
<button class="ecrire" (click)="write()">Ecrire</button>
