:root {
  --chatbot-color: #3D3E45;
  --bg-color: #fdfdfd;
  --green-color: #49a078;
  --orange-color: #ffb34e;
  --red-color: #f25f5c;
}


/*
  main
*/

* {
  margin: 0 auto;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
}

.hidden {
  visibility: hidden;
}

.centered {
  margin: auto;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.container {
  position: absolute;
  height: 500px;
  width: 500px;
  animation: mover 2s infinite alternate;
}


/*
  Beam
*/

#chatbot-beam {
  position: relative;
  top: 75%;
  left: -75%;
  height: 50%;
  width: 250%;
  z-index: 2;
  border-radius: 50%;
  background-color: var(--chatbot-color);
}

#chatbot-beam-pulsar {
  position: relative;
  top: 15px;
  left: -5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 1;
  animation: beam-pulsar-appear 4s infinite ease-in-out;
}

.green {
  background-color: var(--green-color);
}

.orange {
  background-color: var(--orange-color);
}

.red {
  background-color: var(--red-color);
}


/*
  Antenna
*/

#chatbot-antenna {
  border-right: 15px solid transparent;
  border-bottom: 40px solid var(--chatbot-color);
  border-left: 15px solid transparent;
  height: 10%;
  width: 2%;
}


/*
  Head
*/

#chatbot-head {
  width: 20%;
  height: 10%;
  border: 10px solid var(--chatbot-color);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
}


/*
  Eyes
*/

.chatbot-eye-green {
  width: 10%;
  height: 20%;
  border: 4px solid var(--green-color);
  border-radius: 50%;
  margin-left: 3%;
  margin-right: 3%;
}

.chatbot-eye-orange {
  width: 10%;
  height: 20%;
  border: 4px solid var(--orange-color);
  margin-left: 3%;
  margin-right: 3%;
}

.chatbot-eye-red {
  width: 10%;
  height: 10%;
  border: 4px solid var(--red-color);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(45deg);
  margin-left: 3%;
  margin-right: 3%;
}

.chatbot-eye-green:nth-child(2),
.chatbot-eye-orange:nth-child(2),
.chatbot-eye-red:nth-child(2) {
  visibility: hidden;
}

.chatbot-eye-red:nth-child(3) {
  transform: rotate(-45deg);
}

.chatbot-eye-writing {
  width: 10%;
  height: 20%;
  background: var(--chatbot-color);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 50%;
  animation: pulse-outer 2s infinite ease-in-out;
}

.chatbot-eye-writing:nth-child(2) {
  animation-delay: 0.2s;
}

.chatbot-eye-writing:nth-child(3) {
  animation-delay: 0.4s;
}


/* 
  Body
*/

#chatbot-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35%;
  width: 100%;
}


/* 
  Chest
*/

#chatbot-chest {
  display: flex;
  height: 90%;
  width: 33%;
  border: 10px solid var(--chatbot-color);
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
  margin: 0;
}


/*
  Mark
*/

.chatbot-mark-green {
  display: inline-block;
  transform: rotate(45deg);
  height: 30%;
  width: 15%;
  border-bottom: 7px solid var(--green-color);
  border-right: 7px solid var(--green-color);
  margin: auto;
  margin-top: 20%;
}

.chatbot-mark-orange {
  margin: auto;
  background: var(--orange-color);
  height: 30%;
  width: 5%;
  transform: rotate(0deg);
  margin-top: 20%;
}

.chatbot-mark-orange::after {
  background: var(--orange-color);
  content: '';
  height: 20%;
  position: absolute;
  top: 120%;
  width: 100%;
}

.chatbot-mark-red {
  margin: auto;
  background: var(--red-color);
  height: 30%;
  width: 6%;
  transform: rotate(45deg);
  margin-top: 30%;
}

.chatbot-mark-red::after {
  background: var(--red-color);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  transform: rotate(90deg);
}

.chatbot-mark-writing {
  position: relative;
  width: 30%;
  height: 30%;
  top: 25%;
  right: 2%;
}

.chatbot-mark-writing::after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 6px solid var(--chatbot-color);
  border-color: var(--chatbot-color) transparent var(--chatbot-color) transparent;
  animation: loading 2.4s linear infinite;
}


/*
  Arms
*/

.chatbot-arm-green {
  margin-left: -1%;
  margin-right: -1%;
  margin-top: 5%;
  border: 10px solid var(--chatbot-color);
  height: 60%;
  width: 5%;
  transform: rotate(180deg);
  border-top: none;
  border-left: none;
}

.chatbot-arm-green:nth-child(3) {
  transform: rotate(-180deg) scale(-1, 1);
}

.chatbot-arm-hello {
  margin-left: -10%;
  margin-right: -10%;
  margin-top: -10%;
  border: 10px solid var(--chatbot-color);
  height: 40%;
  width: 20%;
  transform: rotate(120deg);
  border-top: none;
  border-left: none;
}

.chatbot-arm-hello:nth-child(3) {
  margin-left: -1%;
  margin-right: -1%;
  margin-top: 5%;
  border: 10px solid var(--chatbot-color);
  height: 60%;
  width: 5%;
  border-top: none;
  border-left: none;
  transform: rotate(180deg) scale(-1, 1);
}

.chatbot-arm-orange {
  margin-left: -10%;
  margin-right: -10%;
  margin-top: -10%;
  border: 10px solid var(--chatbot-color);
  height: 40%;
  width: 20%;
  transform: rotate(120deg);
  border-top: none;
  border-left: none;
}

.chatbot-arm-orange:nth-child(3) {
  transform: rotate(-120deg) scale(-1, 1);
}

.chatbot-arm-red {
  margin-left: -9%;
  margin-right: -9%;
  margin-top: 50px;
  border: 10px solid var(--chatbot-color);
  height: 50%;
  width: 17%;
  transform: rotate(140deg);
  border-top: none;
  border-left: none;
}

.chatbot-arm-red:nth-child(3) {
  transform: rotate(-140deg) scale(-1, 1);
}


/*
  levitate
*/

#chatbot-levitate {
  height: 50px;
}

.chatbot-levi-round {
  height: 33%;
  width: 10%;
  border: 5px solid var(--chatbot-color);
  border-radius: 50%;
  animation: shrink-down 4.5s infinite ease-in-out;
  visibility: hidden;
}

.chatbot-levi-round:nth-child(1) {
  top: 0;
  animation-delay: 0s;
}

.chatbot-levi-round:nth-child(2) {
  margin-top: -5%;
  animation-delay: 1.5s;
}

.chatbot-levi-round:nth-child(3) {
  margin-top: -5%;
  animation-delay: 3s;
}


/*
  animation
*/

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes beam-pulsar-appear {
  0% {
    visibility: hidden;
    top: 15px;
  }
  50% {
    visibility: hidden;
    top: 15px;
  }
  55% {
    visibility: visible;
    top: 5px;
    left: -5px;
    height: 20px;
    width: 20px;
    opacity: 1
  }
  65% {
    top: 5px;
    left: -15px;
    height: 40px;
    width: 40px;
    opacity: 0;
    visibility: visible;
  }
  74% {
    visibility: visible;
    opacity: 0;
  }
  75% {
    visibility: visible;
    top: 5px;
    left: -5px;
    height: 20px;
    width: 20px;
    opacity: 1
  }
  85% {
    top: 5px;
    left: -15px;
    height: 40px;
    width: 40px;
    opacity: 0;
    visibility: visible;
  }
  94% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
}

@keyframes pulse-outer {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shrink-down {
  0% {
    visibility: visible;
    transform: translateY(0%) scale(1);
  }
  100% {
    transform: translateY(200%) scale(0);
  }
}


/*
  Button
*/

button {
  height: 30px;
  width: 120px;
}

button.vert {
  background: var(--green-color);
}

button.orange {
  background: var(--orange-color);
}

button.rouge {
  background: var(--red-color);
}